body {
    font-family: "Prompt", sans-serif;
    background-color: #FAF9F6;
    color: #4A433E;
    text-align: center;
}

a {
    color: grey;
}

a:hover {
    color: #4A433E;
    font-weight: bold;
}

.contact {
    border: 2px solid #4A433E;
    max-width: 680px;
    max-width: 680px;
    margin: auto;
    padding-left: 30px;
}

.skill {
    text-align: left;
    border: 2px solid #4A433E;
    max-width: 680px;
    max-width: 680px;
    margin: auto;
    padding-left: 30px;
}